@mixin before_circle($bg-color: $main-color) {
  &:before {
    content: '';
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background: $bg-color;
    z-index: -1;
    top: -25%;
    left: 0;
  }
}
